<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                
                <%= simple_form_for @post do |f| %>
               <div class="field form-group">
                 <%= f.input :title, class:"form-control" %>
                <%= f.input :body, class:"form-control" %>
                <%= f.file_field :file, class:"py-3"   %><br>
                <%= f.submit %>                 
                </div>
                <% end %>

                

        </div>
    </div>
</div>